html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}
:root {
  --corBody: #f4f4f4;
  --corContainerLivros: white;
  --corTextos: black;
  --corFooter: #ddd;
  --corAvaliacao: #f4f3f3;
  --corPlaceHolder: #65636c;
  --margin-left-principal: 50px;
  --margin-right-principal: 50px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --corBody: #282828;
    --corContainerLivros: #2c2c2c;
    --corTextos: #f3f3f2;
    --corFooter: #383837;
    --corAvaliacao: #2a2a2a;
    --corPlaceHolder: #aaaaaa;
  }
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: var(--corBody);
}

.top-bar a{
  text-decoration: none;
}
.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
.search-form {
  display: flex;
  align-items: center;
  gap: 8px;
}

#inputPesquisa {
  border-color: var(--corContainerLivros);
  background-color: var(--corContainerLivros);
  color: var(--corTextos);
}

#inputPesquisa::placeholder {
  color: var(--corPlaceHolder);
}
.search-form input {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  width: 230px;
}

.search-form button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #198754;
  background-color: white;
  color: #198754;
  cursor: pointer;
  transition: 0.2s;
}

.search-form button:hover {
  background-color: #198754;
  color: white;
}

.d-flex {
  width: 20%px;
}

.nome-da-plataforma {
  display: block;
  justify-content: left;
  justify-items: center;
  margin-left: 10px;
  font-family: "WDXL Lubrifont SC", sans-serif;
  font-size: 30px;
  color: var(--corTextos);
}
.container-fluid {
  height: 14px;
}

.navbar {
  background-color: #383737 !important;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  font-size: 12px;
}
.navbar-nav .nav-link {
  color: #f3f3f2 !important;
}
.navbar-nav .nav-link:hover {
  color: #aeafad !important;
}
#login-cadastro {
  background-color: #848484 !important;
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo container livro */

#container {
  display: flex;
  justify-content: center;
}
#container-livro {
  margin-top: 45px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: var(--corContainerLivros);
  height: 100%;
  width: 40%;
  padding: 30px;
}
#nome-autor-livro-container {
  /* margin-left: var(--margin-left-principal); */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#nome-livro {
  font-size: 35px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--corTextos);
  width: 100%;
  display: flex;
  justify-content: center;
}
#nome-autor {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 15px;
  color: gray;
}
#avaliacao {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: var(--corAvaliacao);
  height: max-content;
  padding: 15px;
  font-weight: bold;
}
#img-avaliacao {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 20px;
}
#capa-livro {
  color: var(--corTextos);
  display: block;
}
.avaliacao-title,
.media-avaliacao {
  display: block;
  text-align: center;
}

.texto-avaliacao {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: var(--corTextos);
}
.media-avaliacao {
  font-size: 50px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  margin: 6px 0 0 0;
  line-height: 1;
  font-style: normal;
  color: var(--corTextos);
}

/* estilos texto avaliacoes */

#text-avaliacoes {
  margin-top: 30px;
  margin-left: var(--margin-left-principal);
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--corTextos);
}
#linha-text-avaliacoes {
  margin-right: var(--margin-right-principal);
  margin-left: var(--margin-left-principal);
  border-bottom: 1px var(--corTextos) solid;
}

/* estilos seção forum */

#container-avaliacoes-criticos {
  font-family: Arial, sans-serif;
  background: var(--corContainerLivros);
  color: var(--corTextos);
  padding: 20px;
  margin-left: var(--margin-left-principal);
  margin-right: var(--margin-right-principal);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#container-avaliacoes-criticos h1 {
  text-align: center;
  margin-bottom: 20px;
}

#container-avaliacoes-criticos section {
  background: var(--corAvaliacao);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

#container-avaliacoes-criticos label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#container-avaliacoes-criticos textarea,
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid var(--corTextos);
}

#container-avaliacoes-criticos button {
  background: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#container-avaliacoes-criticos button:hover {
  opacity: 0.9;
}

.critica {
  background: var(--corContainerLivros);
  border: 1px solid var(--corContainerLivros);
  color: var(--corTextos);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.nota {
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  margin: 6px 0 0 0;
  line-height: 1;
  font-style: normal;
}

.nota.vermelha {
  color: #e53935;
}
.nota.amarela {
  color: #fbc02d;
}
.nota.verde {
  color: #43a047;
}

#autor-texto-container{
  font-size: 20px;

}
.autor {
  color: var(--corTextos);
  font-style: italic;
  font-size: 25px;
  margin: 10px;
}

.link a {
  color: #1565c0;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

#container-avaliacoes-criticos small {
  color: #555;
}

#contador {
  color: #666;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}

.media {
  color: var(--corTextos);
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}

#containerListaCriticos {
  margin-top: 20px;
  margin-left: var(--margin-left-principal);
  margin-right: var(--margin-right-principal);
}

#container-critica-interno{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
/* Estilos do rodapé */
.footer {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--corFooter);
  margin-top: 3rem;
  margin-bottom: 0px;
  color: var(--corTextos);
}
