html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: #f4f4f4;
}

.top-bar {
  height: 50px;
}
.nome-da-plataforma {
  display: flex;
  justify-content: left;
  justify-items: center;
  margin-top: 25px;
  margin-left: 10px;
  font-family: "WDXL Lubrifont SC", sans-serif;
  font-size: 25px;
}

/* Estilos da seção de formulário */
nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 100%;
  top: 0;
  /* z-index: 0; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
}

.nav-bar #logo-container {
  display: flex;
  align-items: center;
  color: white;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #3d3d3d;
  margin-right: 6dvh;
}

.nav-bar #linkCadastro {
  background-color: #f4f0ea;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  margin-right: 6dvh;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 100px 20px;
  margin-top: 60px;
  height: 100dvh;
}

#login {
  background-color: #f4f4f4;
}

#melhoresLivros,
#descobrir,
#novosLancamentos,
#generos {
  background-color: #e2e2e2;
  border-bottom: 1px solid #ccc;
}

/* Estilos do rodapé */
.footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #ddd;
  margin-top: 3rem;
}

/* estilos da coluna de livros  */
/* estilo imagens - para deixar em linha  */
#todasAsImagens {
  background-color: white;
  margin-top: 2px;
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  height: 100vh;
}
/* espaço entre as imagens */
.imgContainer {
  height: 300px;
  padding: 25px;
  margin-bottom: 50px;
}
/* para "centralizar" a página inteira */
#containerPrincipal {
  margin-left: auto;
  margin-right: auto;
}
/* altura e largura das imagens */
.imgLivros {
  width: 150px;
  height: 200px;
  text-align: center;
  border: solid black 3px;
  border-radius: 4px;
}
/* estilo titulo do livro e do autor */
.h1Livros {
  font-size: 15px;
  margin: 5px 0 2px 0;
  word-wrap: break-word;
}
.nomeAutor {
  text-align: left;
  font-size: 10px;
}
/* linha em baixo do autor */
.linhaAutor {
  border-bottom: 2px black solid;
}
/* para flutuar a nota dos criticos e o texto, esperar javaScript para finalizar */
.containerAvaliacaoDosCriticos {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 9px;
  color: black;
  font-style: italic;
}
/* para flutuar a nota dos usuarios e o texto, esperar javaScript para finalizar */
.containerAvaliacaoDosUsuarios {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 9px;
  color: black;
  font-style: italic;
}
/* para estilizar as notas dos usuarios */
.notaCriticaUsuarios {
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin: 10px;
}
/* para estilizar as notas dos críticos */
.notaCriticaContainer {
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin: 10px;
}
/* para deixar o texto responsivo a largura da imagem */
.nomeLivroEAutor {
  width: 150px;
  text-align: justify;
}
