<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprovação de usuarios</title>
</head>
<body>
    <h1>Sucesso!</h1>
            <p>O usuário com ID <strong>${usuarioId}</strong> foi promovido para <strong>'critico'</strong>.</p>
            <p>Você já pode fechar esta aba.</p>
</body>
</html>