<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Dashboard para gerenciamento de críticas de livros"
    />
    <title>Dashboard Do Crítico</title>
    <link rel="stylesheet" href="css/criticoStyle.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <div id="logo-container">
        <img src="img/logo.png" alt="Logo" class="logo-image" />
      </div>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="#" onclick="logout()">Sair</a>
      </div>
    </nav>

    <main class="dashboard-container">
      <h2>Dashboard do Crítico</h2>
      <div class="card">
        <h3>Seja bem-vindo, Crítico!</h3>
        <p>Aqui você pode gerenciar suas críticas e avaliações.</p>
      </div>

      <div class="card" id="MinhasCríticas">
        <h3>Minhas Críticas</h3>
        <ul id="lista-criticas">
          <!-- As críticas serão carregadas aqui via JS -->
        </ul>
      </div>
    </main>

    <footer class="footer">
      <p>&copy; 2025 <!--nome da plataforma--></p>
    </footer>

    <script src="js/dashboardCritico.js"></script>
  </body>
</html>
