<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="stylesheet" href="../style/editProfileStyle.css" />
        <link rel="stylesheet" href="../style/import.css" />
        <title>Perfil</title>
    </head>
    <body>
        <section class="form-section">
            <h1>Editar Perfil</h1>
            <form id="editProfileForm"> 
                <div>
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name" required />
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required />
                </div>
                <div>
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" placeholder="Deixe vazio para manter a senha atual" />
                </div>
            </form>

            <div class="buttons">
                <button type="button" id="buttonSalvar">Salvar</button> 
                
                <button type="button" onclick="deletarConta()" id="buttonExcluir">
                    Excluir Conta
                </button>
                <button type="button" id="logout" class="buttonSair">Sair</button>
                <button type="button" id="buttonVoltar" onclick="voltarCritico()">
                    Voltar
                </button>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <p>&copy; 2025 Leitor Crítico</p>
            </div>
        </footer>

        <script src="../js/editProfile.js"></script>
        <script src="../js/criticoControl.js"></script>
        <script src="../js/loginLogoutHamb.js"></script>
    </body>
</html>