/* Estilos Gerais para a Estrutura de Dashboard */
.containerPrincipal {
    padding: 20px;
}

.nomeCriticoClass {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    margin-bottom: 30px;

}

.card {
    background-color: #013774;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.dashboard-panel {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-lista {
    max-height: 100%;
    height: 232px;
}

/* Estilos para Cartões KPI */
.kpi-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.kpi-card i {
    font-size: 30px;
    color: #4a90e2;
    margin-bottom: 10px;
}

.kpi-card p {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    color: #05e718;
}

.kpi-card h4 {
    margin-top: 5px;
    font-size: 1em;
    color: #f1f1f4;
    text-transform: uppercase;
}

/* Estilos para a Estrutura de Grid Principal */
.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

/* Responsividade para telas menores */
@media (max-width: 992px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .navbar-desktop {
        display: none;
    }
}

/* Estilos de Ações Rápidas */
.card-acao button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-acao button i {
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #e9ecef;
    color: #333;
}

/* Estilos da Lista */
#lista-criticas {
    list-style: none;
    padding: 0;
}

#lista-criticas li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos dos Status (Badges) */
.badge {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
}

.rascunho {
    background-color: #ffc107;
    color: #333;
}

.publicado {
    background-color: #28a745;
    color: white;
}

.agendado {
    background-color: #17a2b8;
    color: white;
}