#buttonExcluir {
  background-color: red;
  color: white;
}

#buttonSair {
  background-color: #333;
  color: white;
}

#buttonSalvar {
  background-color: #04a104;
  color: white;
}

/* Estilos da seção de formulário */
.form-section {
  max-width: 50dvh;
  max-height: 60dvh;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  align-self: flex-start;
  margin-left: 19px;
}

form input {
  width: 90%;
  padding: 0.7rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 1.5rem;
  width: auto;
  padding: 0.8rem 1.5rem;
  color: var(--corTextos);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
  /* espaço entre os botões */
  margin-top: 1.5rem;

}