* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corBody: #f4f4f4;
    --corTextos: black;
    --corContainerLivros: white;
    --corFooter: #ddd;
    --corPlaceHolder: #65636c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --corBody: #282828;
        --corTextos: #f3f3f2;
        --corContainerLivros: #2c2c2c;
        --corFooter: #383837;
        --corPlaceHolder: #aaaaaa;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4ecdf;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}


.left-panel {
    width: 50%;
    background-color: #2B2A2B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-panel img {
    height: auto;
    width: 90%;
    max-height: 100%;
}

.right-panel {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form,
.cadastro-form {
    width: 100%;
    max-width: 900px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login-form h2,
.cadastro-form h2 {
    text-align: center;
    color: black;
    font-size: 32px;
}

.login-form label,
.cadastro-form label {
    font-size: 16px;
    color: black;
    margin-bottom: 4px;
}

.login-form input,
.cadastro-form input {
    padding: 16px;
    font-size: 18px;
    border: 1px solid #bccbd6;
    border-radius: 8px;
}

.forgot-password {
    text-align: right;
    font-size: 15px;
}

.forgot-password a {
    text-decoration: none;
    color: #2e3b45;
}

button {
    padding: 16px;
    background-color: #2B2A2B;
    color: white;
    border-radius: 24px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #3A3A3C;
}

.register-link {
    text-align: center;
    display: block;
    margin-top: 16px;
    font-size: 16px;
    color: #2e3b45;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}