html {
    scroll-behavior: smooth;
    color-scheme: light dark;
}

:root {
    --corBody: #f4f4f4;
    --corTextos: black;
    --corContainerLivros: white;
    --corFooter: #ddd;
    --corPlaceHolder: #65636c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --corBody: #282828;
        --corTextos: #f3f3f2;
        --corContainerLivros: #2c2c2c;
        --corFooter: #383837;
        --corPlaceHolder: #aaaaaa;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--corBody);
}



.container-fluid {
    height: 35px;
}

.navbar {
    background-color: #383737 !important;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 12px;
}

.navbar-nav .nav-link,
.logoutCadastro {
    color: #f3f3f2 !important;
    font-weight: bold;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #aeafad !important;
}

#login-cadastro,
#login-cadastro-hamburger,
.logoutCadastro {
    background-color: #848484 !important;
    padding: 5px;
    border-radius: 12px;
    text-decoration: none;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Área do usuário no topo */
.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 8px;
    border-radius: 5px;

}

.user-link {
    display: flex;
    align-items: center;
    color: var(--corTextos);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.2s;
}

.user-link:hover,
#nomeUsuario:hover {
    color: #007bff;
}

.user-icon {
    font-size: 32px;
    margin-right: 8px;
}

#nomeUsuario {
    color: var(--corTextos);
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 990px) {
    .right-elements {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }

    .user-profile,
    .navbar {
        display: none;
    }
}